<div class="c-left-hand-nav">
    <div>Racing Wheels and Bases</div>
    <div>Steering Wheels</div>
    <div>Pedals</div>
    <div>Shifters</div>
    <div>Cockpits</div>
    <div>Mounts</div>
    <div>Accessories</div>
    <div>Bundles</div>
</div>