<div class="c-left-hand-nav">
    <a asp-page="/Category" asp-route-id="Racing Wheels and Bases"><div>Racing Wheels and Bases</div></a>
    <a asp-page="/Category" asp-route-id="Steering Wheels"><div>Steering Wheels</div></a>
    <a asp-page="/Category" asp-route-id="Pedals"><div>Pedals</div></a>
    <a asp-page="/Category" asp-route-id="Shifters"><div>Shifters</div></a>
    <a asp-page="/Category" asp-route-id="Cockpits"><div>Cockpits</div></a>
    <a asp-page="/Category" asp-route-id="Mounts"><div>Mounts</div></a>
    <a asp-page="/Category" asp-route-id="Accessories"><div>Accessories</div></a>
    <a asp-page="/Category" asp-route-id="Bundles"><div>Bundles</div></a>
</div>